body {
    font-family: 'Kumbh Sans';
}

.faq {
    margin: auto;
}

details>summary {
    user-select: none;
}

details[open] summary {
    font-weight: bold;
}

.attribution {
    font-size : 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
